<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>haipm.filter.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>haipm.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>haipm.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>haipm.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>haipm.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAccessoryAdmin</servlet-name>
        <servlet-class>haipm.admin_controller.LoadAccessoryAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteController</servlet-name>
        <servlet-class>haipm.admin_controller.AdminDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainControllerAdmin</servlet-name>
        <servlet-class>haipm.admin_controller.MainControllerAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccessoryController</servlet-name>
        <servlet-class>haipm.admin_controller.AddAccessoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditController</servlet-name>
        <servlet-class>haipm.admin_controller.AdminEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccessoryController</servlet-name>
        <servlet-class>haipm.admin_controller.UpdateAccessoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccessoryController</servlet-name>
        <servlet-class>haipm.admin_controller.SearchAccessoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAccessoryUserController</servlet-name>
        <servlet-class>haipm.home_controller.LoadAccessoryUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>haipm.home_controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemCartController</servlet-name>
        <servlet-class>haipm.home_controller.DeleteItemCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCartController</servlet-name>
        <servlet-class>haipm.home_controller.CheckCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveBillAndFinishCart</servlet-name>
        <servlet-class>haipm.home_controller.SaveBillAndFinishCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainPetController</servlet-name>
        <servlet-class>haipm.pet_controller.MainPetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPetController</servlet-name>
        <servlet-class>haipm.pet_controller.AddPetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadPetController</servlet-name>
        <servlet-class>haipm.pet_controller.LoadPetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPetController</servlet-name>
        <servlet-class>haipm.pet_controller.EditPetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePetController</servlet-name>
        <servlet-class>haipm.pet_controller.UpdatePetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePetController</servlet-name>
        <servlet-class>haipm.pet_controller.DeletePetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewPetController</servlet-name>
        <servlet-class>haipm.admin_controller.AdminViewPetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewOrderController</servlet-name>
        <servlet-class>haipm.admin_controller.AdminViewOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadUserInfoController</servlet-name>
        <servlet-class>haipm.user_controller.LoadUserInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>haipm.user_controller.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearchAccessoryController</servlet-name>
        <servlet-class>haipm.user_controller.UserSearchAccessoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadServiceAdminController</servlet-name>
        <servlet-class>haipm.admin_controller.LoadServiceAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddServiceController</servlet-name>
        <servlet-class>haipm.admin_controller.AdminAddServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadServiceUser</servlet-name>
        <servlet-class>haipm.user_controller.LoadServiceUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServiceToCartController</servlet-name>
        <servlet-class>haipm.home_controller.AddServiceToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServiceCartController</servlet-name>
        <servlet-class>haipm.home_controller.DeleteServiceCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCartServiceController</servlet-name>
        <servlet-class>haipm.home_controller.CheckCartServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveServiceProcessAndServiceLine</servlet-name>
        <servlet-class>haipm.home_controller.SaveServiceProcessAndServiceLine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageServiceProcessController</servlet-name>
        <servlet-class>haipm.admin_controller.AdminManageServiceProcessController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFinishedServiceProcess</servlet-name>
        <servlet-class>haipm.admin_controller.AdminFinishedServiceProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageHistoryService</servlet-name>
        <servlet-class>haipm.admin_controller.AdminManageHistoryService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearchServiceController</servlet-name>
        <servlet-class>haipm.user_controller.UserSearchServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAllOrderUserController</servlet-name>
        <servlet-class>haipm.user_controller.LoadAllOrderUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageAccount</servlet-name>
        <servlet-class>haipm.admin_controller.AdminManageAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBanUserController</servlet-name>
        <servlet-class>haipm.admin_controller.AdminBanUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUnBanUserController</servlet-name>
        <servlet-class>haipm.admin_controller.AdminUnBanUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCloseService</servlet-name>
        <servlet-class>haipm.admin_controller.AdminCloseService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOpenService</servlet-name>
        <servlet-class>haipm.admin_controller.AdminOpenService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditServiceController</servlet-name>
        <servlet-class>haipm.admin_controller.AdminEditServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateServiceController</servlet-name>
        <servlet-class>haipm.admin_controller.AdminUpdateServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchAccount</servlet-name>
        <servlet-class>haipm.admin_controller.AdminSearchAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAccessoryAdmin</servlet-name>
        <url-pattern>/LoadAccessoryAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteController</servlet-name>
        <url-pattern>/AdminDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainControllerAdmin</servlet-name>
        <url-pattern>/MainControllerAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccessoryController</servlet-name>
        <url-pattern>/AddAccessoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditController</servlet-name>
        <url-pattern>/AdminEditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccessoryController</servlet-name>
        <url-pattern>/UpdateAccessoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccessoryController</servlet-name>
        <url-pattern>/SearchAccessoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAccessoryUserController</servlet-name>
        <url-pattern>/LoadAccessoryUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemCartController</servlet-name>
        <url-pattern>/DeleteItemCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCartController</servlet-name>
        <url-pattern>/CheckCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveBillAndFinishCart</servlet-name>
        <url-pattern>/SaveBillAndFinishCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainPetController</servlet-name>
        <url-pattern>/MainPetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPetController</servlet-name>
        <url-pattern>/AddPetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadPetController</servlet-name>
        <url-pattern>/LoadPetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPetController</servlet-name>
        <url-pattern>/EditPetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePetController</servlet-name>
        <url-pattern>/UpdatePetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePetController</servlet-name>
        <url-pattern>/DeletePetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewPetController</servlet-name>
        <url-pattern>/AdminViewPetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewOrderController</servlet-name>
        <url-pattern>/AdminViewOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadUserInfoController</servlet-name>
        <url-pattern>/LoadUserInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSearchAccessoryController</servlet-name>
        <url-pattern>/UserSearchAccessoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadServiceAdminController</servlet-name>
        <url-pattern>/LoadServiceAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddServiceController</servlet-name>
        <url-pattern>/AdminAddServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadServiceUser</servlet-name>
        <url-pattern>/LoadServiceUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServiceToCartController</servlet-name>
        <url-pattern>/AddServiceToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServiceCartController</servlet-name>
        <url-pattern>/DeleteServiceCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCartServiceController</servlet-name>
        <url-pattern>/CheckCartServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveServiceProcessAndServiceLine</servlet-name>
        <url-pattern>/SaveServiceProcessAndServiceLine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageServiceProcessController</servlet-name>
        <url-pattern>/AdminManageServiceProcessController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFinishedServiceProcess</servlet-name>
        <url-pattern>/AdminFinishedServiceProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageHistoryService</servlet-name>
        <url-pattern>/AdminManageHistoryService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSearchServiceController</servlet-name>
        <url-pattern>/UserSearchServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAllOrderUserController</servlet-name>
        <url-pattern>/LoadAllOrderUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageAccount</servlet-name>
        <url-pattern>/AdminManageAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBanUserController</servlet-name>
        <url-pattern>/AdminBanUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUnBanUserController</servlet-name>
        <url-pattern>/AdminUnBanUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCloseService</servlet-name>
        <url-pattern>/AdminCloseService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOpenService</servlet-name>
        <url-pattern>/AdminOpenService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditServiceController</servlet-name>
        <url-pattern>/AdminEditServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateServiceController</servlet-name>
        <url-pattern>/AdminUpdateServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchAccount</servlet-name>
        <url-pattern>/AdminSearchAccount</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
